<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head.html :: head ('Home')"></head>

<body class="container-fluid">
<!--Left Side-->
    <div class="row ">

        <div class="col">
            <nav th:replace="partials/navbar.html :: NavBar"></nav>
        </div>

    <!--Middle of Page-->
        <div class="col-6">

            <!--Post form-->
            <form th:action="@{/main}" class="rounded" id="postForm" th:method="post" th:object="${post}">
                <section class="form-group">
                    <label for="postBody" class="text-dark"></label>
                    <textarea id="postBody"
                    placeholder="What's going on today?"
                    th:field="*{postBody}"
                    rows="5"
                    class="form-control">
                    </textarea>
                </section>
                <input type="submit">
            </form>
            <!--Post form-->

    <!--Shows posts from database-->
        <div th:each="post : ${posts}">
            <div class="card">
                <div class="card-body">
                    <a th:href="|/profile/${post.getUser().getUsername()}|"><h5 class="card-title" th:text="${post.user.username}"></h5></a>
                    <p class="card-text" th:text="${post.postBody}"></p>
                    <p th:text="${post.likes}"></p>
<!--                    <p th:text="${post.comment}"></p>-->
                    <form th:action="@{/post/{id}/comment(id=${post.id})}">
                        <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                    </form>
                </div>
            </div>
        </div>
        <!--Show posts from database-->

        </div>
    <!--Middle of page-->

    <!--Right side-->
        <div class="col">
            3 of 3
        </div>
    </div>





















<footer th:replace="partials/footer.html :: footer"></footer>
<!--  Partials Script  -->
<script th:replace="partials/script.html :: bootstrap-js"></script>
<script th:fragment="jquery" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    $('.likeForm .btn').click(function (e) {
        e.preventDefault()
            $(".likeForm").submit();
    })

</script>
</body>
</html>