<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head.html :: head ('Home')"></head>

<body class="container">
<div class="row">
    <div class="col">
        1 of 3
    </div>
    <div class="col-6">
        <!--Post form-->
        <form th:action="@{/main}" class="rounded" id="postForm" th:method="post" th:object="${post}">
            <section class="form-group">
                <label for="postBody" class="text-dark"></label>
                <textarea id="postBody"
                placeholder="What's going on today?"
                th:field="*{postBody}"
                rows="5"
                class="form-control">
                </textarea>
            </section>
            <input type="submit">
        </form>
        <!--Post form-->

    <div th:each="post : ${posts}">
        <div class="card">
            <div class="card-body">
                <a th:href="|/profile/${post.getUser().getUsername()}|"><h5 class="card-title" th:text="${post.user.username}"></h5>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text" th:text="${post.postBody}"></p>
            </div>
        </div>
    </div>

    </div>
    <div class="col">
        3 of 3
    </div>
</div>





















<footer th:replace="partials/footer.html :: footer"></footer>
<!--  Partials Script  -->
<script th:replace="partials/script.html :: bootstrap-js"></script>
<script th:fragment="jquery" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>